<h3>Popular Repositories</h3>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="content">
                <h3>ABAH</h3>
            </div>
            <div class="bottom">
                <h5>HTML CSS JavaScript</h5>
            </div>
        </div>

        <div class="col-6">
            <div class="content">
                <h3>Pizza TOSS PIZZERIA</h3>
            </div>
            <div class="bottom">
                <h5>HTML CSS JavaScript</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="content">
                <h3>Delani Studio</h3>
            </div>
            <div class="bottom">
                <h5>HTML CSS JavaScript</h5>
            </div>
        </div>
        <div class="col-6">
            <div class="content">
                <h3>AKAN NAME</h3>
            </div>
            <div class="bottom">
                <h5>HTML CSS JavaScript</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="content">
                <h3>Giphy API</h3>
            </div>

            <div class="bottom">
                <h5>Transcript JavaScript CSS HTML</h5>
            </div>
        </div>
        <div class="col-6">
            <div class="content">
                <h3>GitHub API</h3>
            </div>
            <div class="bottom">
                <h5>Transcript JavaScript CSS HTML</h5>
            </div>
        </div>
    </div>
</div>