<h1 class="text-center fw-bold">GitHub</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-5">
            <app-g-form></app-g-form>
        </div>
        <div class="col-5">
            <h3 class="text-center">GitHub Accounts </h3>
            <hr>
            <ul>
                <div *ngFor='let git of github;let i = index'>
                    <span id="name">{{git.login}}</span> <br>
                    <span> Done: <strong>{{git.date|dateCount}}</strong> ago.</span> <br>
                    <span id="description">{{git.url}}</span>

                </div>
            </ul>
            <p *ngIf='github.length > 5'>You have too many Repositories</p>
        </div>
    </div>
</div>

<div class="row">
    <blockquote class="blockquote text-center">
        <p class="mb-0">{{profileInfo?.login}}</p>
        <footer class="blockquote-footer"><cite>{{profileInfo?.url}}</cite></footer>
    </blockquote>
</div>