<h1 class="text-center fw-bold">GitHub</h1>
<hr>
<div class="container">
    <div class="input">
        <app-g-form></app-g-form>
        <!-- <input type="text" placeholder="Search for GitHub Api"> -->
    </div>
</div>
<br> <br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">GitHub Accounts </h3>
            <hr>
            <ul>
                <div class="text-center" *ngFor='let git of github'>
                    <span id="name" appHighlight>{{git.login}}</span> <br>
                    <span> Updated <strong>{{git.date|dateCount}}</strong> ago.</span> <br>
                    <span id="description">{{git.url}}</span>
                    <hr>
                </div>
            </ul>
            <p *ngIf=' github.length> 5'>You have too many Repositories</p>
        </div>
    </div>
</div>

<div class="row">
    <blockquote class="blockquote text-center">
        <p class="mb-0">{{profileInfo.login}}</p>
        <footer class="blockquote-footer"><cite>{{profileInfo.url}}</cite></footer>
    </blockquote>
</div>