<!-- <div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>
    <hr>
    <form (ngSubmit)='submitName()' #quoteForm='ngForm'>
        <div class="form-group">
            <div class="form-group">
                <label for="name" class="fs-6 fw-bolder">Quote;</label>
                <input type="text" class="form-control" placeholder="Enter Quote..." id="name" [(ngModel)]="newQuotes.name" name="name" #name='ngModel' required>
                <div [hidden]="name.valid || name.pristine " class="alert alert-danger ">
                    <p>Quote is required</p>

                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-success btn-lg" [disabled]="!quoteForm.valid">Add Quote</button>
        </div>
    </form>
</div> -->