.profile {
    height: 50vh;
    width: 50vh;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: -14%;
}

.profile-data {
    margin-top: 12%;
}

.profile-data:nth-child(1) {
    color: black;
}

#fullstack {
    margin-top: 10%;
}

.edit-profile {
    margin-top: 5%;
    height: 50px;
    width: 250px;
    border: 1px solid black;
    padding-left: 80px;
    padding-top: 15px;
    border-radius: 5px;
    background-color: rgb(202, 198, 198);
    font-size: 10px;
}

#eprofile {
    font-size: 15px;
}